.layout {
  background-color: #e4002b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 50px;
}

.layout h1 {
  font-size: 2rem;
}

.layout a {
  color: white;
  text-decoration: none;
}
